@model IEnumerable<Recepies.Models.Recipe>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div>
    @using (Html.BeginForm("Search", "Recipies", FormMethod.Get))
    {
        <span>Ingredient: </span> @Html.DropDownList("ingredient", ViewBag.Ingredients as SelectList, "")
        <span>User: </span> @Html.TextBox("user")
        <span>Difficulty: </span> @Html.DropDownList("level", new List<SelectListItem> { new SelectListItem { Value = "0" , Text ="Chefs" },
                                 new SelectListItem { Value = "1" , Text ="Hard" },
                                 new SelectListItem { Value = "2" , Text ="Normal" },
                                 new SelectListItem { Value = "3" , Text ="Simple" } }, "")
        <input type="submit" value="Search" />
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreparationTimeInMinutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Context)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Difficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreparationTimeInMinutes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Context)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
